html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font-weight: 500;
  text-decoration: none;
}
a:active,
a:hover {
  outline-width: 0;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
img {
  border-style: none;
}
html {
  font: 15px "Helvetica Neue", Helvetica, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: #0d0d0d;
  font-family: "Helvetica Neue", Helvetica, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: "Helvetica Neue", Helvetica, serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.33;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6666666;
  letter-spacing: normal;
  text-align: justify;
  color: #0d0d0d;
}
p:last-of-type {
  margin-bottom: 0;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}

p *:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 15px;
  }
}

/* Custom styles below  */

.content-wrapper {
  height: 100vh;
  padding: 1.3333rem;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .content-wrapper {
    height: auto;
    padding: 1rem 0.66667rem 0.66667rem;
  }
}

header {
  position: absolute;
}

nav {
  display: flex;
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  height: 700px;
}

.left {
  align-self: flex-end;
  padding-right: 1rem;
  width: 40%;
}

@media only screen and (max-width: 1024px) {
  .left {
    align-items: flex-end;
    display: flex;
    height: 40vh;
    margin-bottom: 1rem;
    padding-right: 0;
    width: 100%;
  }
}

.right {
  width: 60%;
}

@media only screen and (max-width: 1024px) {
  .right {
    width: 100%;
  }
}

.img-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

.img-container {
  background-color: #f2f1f0;
  background-position: center;
  background-size: cover;
  /* max-height: 672px;
  max-width: 740px; */
  padding-top: 91%;
  position: relative;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  color: #0d0d0d;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.4;
  padding: 0;
}

button:focus {
  outline: none;
}

.contact-btn-wrapper {
  margin-left: auto;
  position: relative;
}

.copied-msg {
  background: #0d0d0d;
  color: #ffffff;
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 1.33;
  opacity: 0;
  padding: 4px 10px 6px;
  position: absolute;
  right: 0;
  text-align: center;
  transition: 0.35s opacity ease;
  top: -3rem;
  width: 210px;
}

.copied-msg.active {
  opacity: 1;
}
